body {
  /*font: 22px 'Josefin Sans', sans-serif;*/
  font-family: 'Patrick Hand SC', cursive;
  font-size: 2em;
  background-color:#e5f2ff;
  text-align: center;
}

.board-game {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.card {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: #8080ff;
  border-radius: 5px;
  margin: 5px;
  box-shadow:5px 5px 5px #888888;
}

.board-game p {
  text-align: center;
}

#score-board {

  margin: auto;
  display: block;
  background-color:#ffcc00;
  border-radius: 2px;
  box-shadow:2px 2px 2px #888888;
  margin: 20px;
}
