body {
  /*font: 22px 'Josefin Sans', sans-serif;*/
  font-family: 'Patrick Hand SC', cursive;
  font-size: 2em;
  background-color:#e5f2ff;
  text-align: center;
}

.card {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  background-color: #8080ff;
  border-radius: 5px;
  margin: 10px;
  box-shadow:5px 5px 5px #888888;
}

#score-board {

  margin: 0 auto;
  display: block;
  background-color:#ffcc00;
  border-radius: 2px;
  box-shadow:2px 2px 2px #888888;
  margin: 20px;
}

#board-game {
  margin: 0 auto;
  border-spacing: 20px;
}

table {
  margin: auto;
}

.card:hover {
  width: 75px;
  height: 75px;
  box-shadow:5px 5px 5px #888888;
}

.win {

  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
  background-color: #e60073;

}
